extends ../_component/layout/template

block cool-config
  -
    var myTitle = 'Learn to code HTML for beginners !';
    var myDescription = 'HTML is easy and fun to learn !';
    var landingPage='HTML';
    var activeLink='';

block awesome-content
  h1=myTitle
  h3=myDescription
  h1 With HTML you can create your own Website.
  p HTML is the standard markup language for Web pages.
  h2 With HTML you can create your own Website.
  p HTML is easy to learn - You will enjoy it!