extends ../_component/layout/template

block cool-config
  -
    var myTitle = 'Learn to code JavaScript for beginners !';
    var myDescription = 'JavaScript is easy and fun to learn !';
    var landingPage='JavaScript';
    var activeLink='';

block awesome-content
  h1=myTitle
  h3=myDescription
  h1 With JavaScript you can create your own Website.
  p JavaScript is the standard markup language for Web pages.
  h2 With JavaScript you can create your own Website.
  p JavaScript is easy to learn - You will enjoy it!