extends ../../_component/layout/template

block cool-config
  -
    var myTitle = 'Learn about Headings in HTML!';
    var myDescription = 'this is a html replica of w3schools';
    var landingPage='Home';
    var activeLink='html/headings';

block awesome-content
  h1 This is a replica about Headings
  p At W3Schools you will find complete references about tags, attributes, events, color names, entities, character-sets, URL encoding, language codes, HTTP messages, and more.
  h2 HTML
  p At W3Schools you will find complete references about tags #[a(href="/html") Check it out !]
  h2 CSS
  p At W3Schools you will find complete references about tags #[a(href="/html") Check it out !]
  h2 JavaScript
  p At W3Schools you will find complete references about tags #[a(href="/html") Check it out !]